<h1>Create Profile</h1>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="PlayerName" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="PlayerSurname" [formControl]="surname" required>
        <mat-error *ngIf="surname.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [formControl]="userName" required>
        <mat-error *ngIf="userName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint>Min 5 characters,one upper case and one symbol </mat-hint>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-full-width">
        <mat-label>Select Role</mat-label>
        <mat-select [(value)] = "selectedRole">
            <mat-option></mat-option>
          <mat-option *ngFor="let role of rolesList" [value]="role.name">
            {{role.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<mat-dialog-actions>
    <button mat-raised-button color="primary" class="save" (click)="savePlayer()"
        [disabled]="!userName.valid ||!surname.valid ||!email.valid ||!password.valid||!name.valid">
        <mat-icon>save</mat-icon>Save
    </button>
    <button mat-raised-button color="warn"class="cancel" (click)="dismiss()">
        <mat-icon>cancel</mat-icon>Cancel
    </button>
</mat-dialog-actions>