h1 {
    text-align: center;
    color: #008CBA;
    font-family: 'Signika';
    font-size: 28px
}

.example-full-width {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.save {
    margin-left: 5%;
    width: 100px;
    margin-top: 50px;
}

.cancel {
    margin-top: 50px;
    width: 100px;
}

.imgStyle {
    width: 100px;
    height: 100px;
}