<!-- <p>{{tournamentName}}</p>

<div class="table">
  <div class="row">
    <div class="cell"></div>
    <div *ngFor="let player of players" class="cell player">
      {{player.userName}}
    </div>
  </div>
  <div *ngFor="let row of scoreTable; index as i;" class="row">
    <div class="cell player">
      {{players[i].userName}}
    </div>

    <div *ngFor="let cell of row; index as j" class="cell">
      <mat-checkbox type="checkbox" *ngIf="cell.checked !== 'x'" [(ngModel)]="cell.checked"(ngModelChange)="playerUpdated(cell)"></mat-checkbox>
    </div>
  </div>
</div>

<button mat-raised-button color="primary" (click)="saveTournament()">Save</button>
<button mat-raised-button color="warn" (click)="routeToTournamentTablePage()">Cancel</button> -->