<div id="container" class="container">
    <div class="grandParentContaniner">
      <div class="parentContainer">
        <form novalidate class="loginForm" [formGroup]="userLoginForm"  >
          <div>
            <img class = "imageSize" src="../../assets/images/tournament-1.png">
            <h2>Login into TournamentBoard App</h2>
  
            <mat-form-field style="display: block"appearance ="fill">
              <input matInput type="text" placeholder="User Name" formControlName="userName" />
            </mat-form-field>
  
            <mat-form-field style="display: block"appearance ="fill">
              <input matInput type="password" placeholder="Password" formControlName="password" />
            </mat-form-field>
            <button mat-raised-button color="primary" class ="register"(click) = "openRegisterDialog()">Register</button>
            <button mat-raised-button color="warn" class="login"(click) = "login()">Login</button>

          </div>
        </form>
      </div>
    </div>
  </div>
  