.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 120%;
}

.drop-down-style {
    width: 80%;
}

.save-cancel {
    position: absolute;
    top: 600px;
}

h2 {
    color: #008CBA;
}

.save {
    width: 100px;
    top: 350px;
}

.cancel {
    width: 100px;
    top: 350px;
}