.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.spacer{
  position: relative;
  flex:1 1 auto;
}

.exemple-container{
  display: flex;
  flex-direction: column;
}

.exemple-container>*{
  width: 100%;
}

/* span{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
} */

img{
  margin-left: auto;
  margin-top: 10px;
  width: 60px;
  background-color: inherit;
}
