<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z3" 
              fixedInViewport = "false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Profile</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  routerLink = "profile"><i class="fa fa-home"></i>Home</a>
      <a mat-list-item  routerLink = "tournament-table" ><i class="fa fa-list"></i>AllTournaments</a>
      <a mat-list-item  routerLink = "my-achievements"><i class="fa fa-trophy"></i>MyAchievments</a>
      <a mat-list-item routerLink ="settings"><i class="fa fa-cog"></i>Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span >TournamentBoard</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="routeToAddServicePage()">NewTournament</button>
    </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
