
  <div>
  <mat-form-field >
    <mat-label>Tournament Name</mat-label>
    <input matInput placeholder="Tournament Name" [formControl] = "name"required>
    <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
  <mat-form-field>
    <mat-label>SelectPlayer</mat-label>
    <mat-select>
      <mat-option *ngFor="let player of players" [value]="player.value">
        {{player.userName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class = "spacer" mat-raised-button color="accent" >AddPlayer</button>



  <div class="grid-container">
    <div class="grid-item">VS</div>
    <div class="grid-item">User1</div>
    <div class="grid-item">User2</div>
    <div class="grid-item">User3</div>
    <div class="grid-item">User1</div>
    <div class="grid-item"></div>
    <div class="grid-item"><mat-checkbox class="example-margin" >Point</mat-checkbox></div>
    <div class="grid-item"><mat-checkbox class="example-margin" >Point</mat-checkbox></div>
    <div class="grid-item">User2</div>
    <div class="grid-item"><mat-checkbox class="example-margin" >Point</mat-checkbox></div>
    <div class="grid-item"></div>
    <div class="grid-item"><mat-checkbox class="example-margin" >Point</mat-checkbox></div>
    <div class="grid-item">User3</div>
    <div class="grid-item"><mat-checkbox class="example-margin" >Point</mat-checkbox></div>
    <div class="grid-item"><mat-checkbox class="example-margin" >Point</mat-checkbox></div>
    <div class="grid-item"></div>

  </div>


  <button class = "spacer" mat-raised-button color="accent" >SaveTournament</button>
