.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.mat-grid.tile {
  background-color: lightblue;
}

h2 {
  color: brown;
}

p {
  text-align: center;
  color: darkorchid;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.table {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CCC;
  width: 20%;
  height: 50px;
  margin: 2px;
}

.player {
  background-color: #008CBA;
}
button{
  margin-top:30px;
  margin-left: 50px;
}

.save{
  background-color: #008CBA;
  width: 100px;
  margin-left: 20px;
}

.cancel{
  width: 100px;
}