<h1>Edit Profile</h1>

<div class="parent">
  <form class="example-form" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="New Name" formControlName="name" required>
      <mat-error *ngIf="form.get('name').hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput placeholder="New Surname" formControlName="surname" required>
      <!-- <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="New Email" formControlName="email" required>
      <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>UserName</mat-label>
      <input matInput placeholder="New UserName" formControlName="userName" required>
      <!-- <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!form.get('email').valid || !form.get('name').valid || !form.get('surname').valid || !form.get('userName').valid">
        <mat-icon>save</mat-icon>Save
      </button>
      <button mat-raised-button color="warn" type="button" (click)="cancel()" class="cancel">
        <mat-icon>cancel</mat-icon>Cancel
      </button>
    </mat-dialog-actions>
  </form>
</div>