.full-width-table {
  width: 100%;
}

.tournament-table{

  width:90%;
  margin:15px auto ;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.mat-raised-button{
  position: absolute;
  right: 100px;
  top: 120px;
}