<h1>Tournament Table</h1>


<div class="mat-elevation-z8 tournament-table">

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="openAddTournamentDialog()">NewTournament</button>

  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id" class ="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TournamentId</th>
      <td class="id" mat-cell *matCellDef="let tournament">{{tournament.tournamentId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tournamentName">
      <th mat-header-cell *matHeaderCellDef>TournamentName</th>
      <td mat-cell *matCellDef="let tournament">{{tournament.tournamentName}}</td>
    </ng-container>

    <!-- WinnerName -->
    <ng-container matColumnDef="winnerName">
      <th mat-header-cell *matHeaderCellDef>WinnerName</th>
      <td mat-cell *matCellDef="let tournament">{{tournament.winnerName}}</td>
    </ng-container>

    <!-- WinnerName -->
    <ng-container matColumnDef="Nr.WinnedGames">
      <th mat-header-cell *matHeaderCellDef>Nr.OfWinnedGames</th>
      <td mat-cell *matCellDef="let tournament">{{tournament.numberOfWins}}</td>
    </ng-container>
    <!-- IconColumn -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab color="accent"><i class="fa fa-eye"></i></button>
        <button mat-mini-fab color="primary"(click) ="editTournament(row.tournamentId)"><i class="fa fa-pencil"></i></button>
        <button mat-mini-fab color="warn"(click) = openDeleteTournamentDialog(row.tournamentId)><i class="fa fa-trash"></i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[1, 50, 100, 250]">
  </mat-paginator>
</div>

