.full-width-table {
  width: 100%;
}

.tournament-table{

  width:90%;
  margin:15px auto ;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.mat-raised-button{
  position: absolute;
  right: 5%;
  top: 13%;
}
h1{
  text-align: center;
  color: #008CBA;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin-top:10px;
  margin-bottom: 50px;
}

th{
  background-color: #008CBA;
  color: aliceblue;
}